[phos_match_config_TEST]
file_sites_in = inputs/testing_for_matching_top20.txt
fasta_file = fastas/XENLA_9.2_Xenbase_plusMT.pep.fa
output_match_file = outputs/testing_snake_file.csv
filtered_match_file = outputs/testing_snake_file.filtered.csv
human_fasta_noIso = fastas/human-fasta-NO-ISO.fasta
pp_info_file = inputs/Phosphorylation_site_dataset_032020
filtered_match_info_file = outputs/testing_snake_file.filtered.info.csv
number_workers = 3
fdr_cutoff = 0.1
b_eval = 1e-20

[phos_match_config_REAL]
file_sites_in = inputs/for_matching_240805/240805_for_matching.txt
fasta_file = fastas/XENLA_9.2_Xenbase_plusMT.pep.fa
output_match_file = outputs/240805_iso_filter.full_data.csv
filtered_match_file = outputs/240805_iso_filter.full_data.filtered.csv
human_fasta_noIso = fastas/human-fasta-NO-ISO.fasta
pp_info_file = inputs/Phosphorylation_site_dataset_032020
filtered_match_info_file = outputs/240805_iso_filter.full_data.filtered.info.csv
number_workers = 3
fdr_cutoff = 0.1
b_eval = 1e-20
