[phos_match_config]
file_sites_in = inputs/testing_for_matching_top20.txt
fasta_file = fastas/XENLA_9.2_Xenbase_plusMT.pep.fa
output_match_file = outputs/testing_snake_file.csv
filtered_match_file = outputs/testing_snake_file.filtered.csv
human_fasta_noIso = fastas/human-fasta-NO-ISO.fasta
number_workers = 3
fdr_cutoff = 0.1
b_eval = 1e-20
